@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;600&display=swap");

html,
body {
  padding: 0 0px;
  margin: 0;
  background-color: #dcdfdf;
}
* {
  font-family: "Quicksand", sans-serif;
}

.navbar-parent{
 position: sticky;
  top: 0;
  z-index: 10;
  background-color: #ffffff;
}
.navbar {

  border: 2px solid black;
  border-left: none;
  display: flex;
  /* width: 100%; */
  flex-direction: row;
  justify-content: space-between;
}

.mobile-cartItem{
  display: none;
}
.navbar-left{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  /* background-color: #ffffff; */
  /* border-bottom: 2px solid black; */
  /* padding: 0 2rem; */
  /* height: 10vh; */
  /* width: 100%; */
  /* position: sticky; */
  /* top: 0; */
  /* z-index: 1; */
}
.navbar-right {
  /* background-color: aqua; */
  /* width: 30%; */
  /* margin-right: 2px; */
  /* display: none; */
  /* visibility: hidden; */
}
/* .navbar-right-items {
  list-style: none;
  margin: 0;
height: 100%;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
} */
.navbar-right-items {
  list-style: none;
  margin: 0;
  height: 100%;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.navbar-right-items li {
  padding: 1rem 2rem;
  transition: background-color 0.8s ease;
}
.navbar-right-items li:hover {
  background-color: black;
}
.navbar-right-items li:hover > .navbar-right-link {
  color: rgb(255, 255, 255);
}
.nav-cartItem{
  background-color: white;
  transition: background-color 0.8s ease;
}
.nav-cartItem:hover{
  background-color: rgb(255, 255, 255) !important;
}

.navbar-right-link {
  text-decoration: none;
  color: black;
  text-align: center;
  font-size: 1.2rem;
  /* margin-top: 1rem;
   padding: 0rem 2rem; */
}

/* .navbar-right-link:hover{
  color: rgb(255, 255, 255);
} */
.navbar-right-items :nth-child(6) {
    border-left: 2px solid black;
  background-color: black;
  transition: background-color 0.8s ease;
}
.navbar-right-items :nth-child(6):hover {
  background-color: rgb(255, 255, 255);

}

.navbar-right-items :nth-child(6):hover > .navbar-right-link span{
  color: rgb(0, 0, 0);
}
.navbar-right-items li:last-of-type .navbar-right-link span {
  color: #ffffff; 
}

.burger-button{
  border: none;
  background-color: transparent;
  cursor: pointer;
  display: none;
}


.navbar-column {

  border: 2px solid black;
  border-left: none;
  display: flex;
  /* width: 100%; */
  flex-direction: column;
  justify-content: space-between;
  position: sticky;
}

.navbar-right-items-column{
  background-color: #8695a8   ;
list-style: none;
  margin: 0;
  height: 100%;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.navbar-right-items-column li {
  padding: 1rem 2rem;
  transition: background-color 0.8s ease;
}

.navbar-right-items-column :nth-child(6) {
    border-top: 2px solid black;
  background-color: black;
}
.navbar-right-items-column li:last-of-type .navbar-right-link span {
  color: #ffffff; 
 
}

.navbar-right-column{
  display: block;
}




@media  screen and (max-width: 940px) {
  .navbar-left{
    width: 100%;
  }
  .nav-cartItem{
  display: none;
}
  .navbar-right {
  /* background-color: aqua; */
  display: none;
  /* width: 30%; */
  /* margin-right: 2px; */
  /* display: none; */
  /* visibility: hidden; */
}
.mobile-cartItem{
  display: block;
}
.burger-button{
  display: block;
}
}


.dropbtn {
  background-color: transparent;
  color: rgb(0, 0, 0);
  font-size: 1.2rem;
  border: none;
  text-align: left;
  padding-left: 0%;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  width: 100%;
  /* margin-top: 1.2rem; */
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #cee2fd;}

 .dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {
  color: white;
}

    .badge:after{
        content:attr(value);
        font-size:18px;
        color: #fff;
        background: red;
        border-radius:50%;
        padding: 0 5px;
        position:relative;
        left:-8px;
        top:-10px;
        opacity:1;
    }